@import "src/styles/colors";
@import "src/styles/mixins";

.home-page-wrapper {
  width: 100%;
  background: $white;

  .full-img {
    width: 100%;
  }

  .border-img {
    border-radius: 8px;
  }

  .truncate-text {
    @include truncate-text(2);
  }

  .clickable {
    cursor: pointer;
  }
}

.home-page-wrapper-startup,
.home-page-container-startup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $darkblue-05-background;

  .feedbacks-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .contact-as-modal {
    .modal-dialog .modal-container {
      max-width: 5000px !important;
    }

    .modal-title {
      font-weight: 400;
    }

    .textarea-full-width {
      width: 100%;

      .textarea {
        width: 100%;
        max-height: 145px;
      }
    }
  }

  .success-message-as-modal {
    margin-bottom: 50px;

    .modal-dialog .modal-container {
      background: #353535 !important;
      max-width: 100%;
      width: 100%;
      box-sizing: border-box;
      border-radius: 20px;
    }
  }
  .welcome-modal {
    width: 100%;
    .modal-container,
    .modal-dialog {
      max-width: 500px;
      background-color: #353535;
      border-radius: 20px;
      .modal-body {
        padding: 0px;
      }
    }
    .close-icon {
      top: 0;
      right: 0;
    }
  }
}
