@import 'src/styles/colors';

.hint-wrapper {
	font-size: 12px;
	color: $darkblue-70;
	padding-left: 12px;

	.hint-category {
		margin-top: 8px;
		margin-bottom: 4px;
	}

	.hint-item {
		position: relative;
		margin: 0 0 0 16px;

		&:before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -12px;
			display: block;
			width: 4px;
			height: 4px;
			content: '';
			border-radius: 50%;
			background: $darkblue-70;
		}
	}
}
