@import 'src/styles/colors';

.tag-buttons-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.tag-buttons_item {
		padding: 10px;
		border-radius: 8px;
		background: $darkblue-50;
		cursor: default;
		margin-right: 5px;
		margin-bottom: 10px;

		&:hover {
			background: $darkblue-40;
		}

		.close-icon svg {
			height: 24px;
			width: 24px;
		}
	}

	.tag-text {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		color: $white;

		span {
			margin-right: 7px;
		}
	}
}
