@import 'src/styles/colors';
@import 'src/styles/mixins';

.internal-info-container {
	position: relative;

	.edit-icon-container {
		position: relative;

		.edit-icon {
			position: absolute;
			top: 0;
			right: -30px;

			&.center {
				top: 20px;
			}
		}

		.remove-icon {
			position: absolute;
			top: 0;
			right: -60px;

			&.center {
				top: 20px;
			}
		}
	}
}

.textarea-full-width {
	width: 100%;

	.textarea {
		width: 100%;
		max-height: 145px !important;
	}
}

.internal-info-pop-up {
	.modal-dialog.modal-container {
		max-width: 630px !important;
		border: none;
	}

	.modal-content {
		border: 1px solid $darkblue-20;
	}

	.modal-title {
		@include textStyle(16px, $darkblue-70, 20px);

	}
}

.confirm-pop-up {
	.modal-dialog.modal-container {
		max-width: 630px !important;
	}
}

.gallery-internal-info {
	.gallery {
		padding: 0;
		background: $white;
		position: static;
	}
}
