@import "src/styles/colors";
.progress-item {
  font-weight: 600;
  background-color: $white;
  color: $black;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  &--filled {
    background-color: $primary-color;
  }
}
.progress-line {
  width: 100px;
  background: #fff;
  height: 2px;
  align-self: center;
  &--active {
    background-color: $primary-color !important;
  }
}
