@import "src/styles/colors";

.sign-up-verification-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;

  .sign-up-verification-container {
    max-width: 630px;
    padding: 30px 107px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $white;
    border-radius: 20px;
    // color: $darkblue-70;
    // background: $gray-05;

    .description {
      margin-top: 15px;

      .link,
      .blue-link {
        margin-left: 0;
      }
    }

    .verification-loading {
      position: static;
      padding-top: 18px;
      padding-bottom: 7px;
      background: $gray-05;

      .spinner {
        height: auto;
      }

      .spinner-border {
        width: 33px !important;
        height: 33px !important;
      }

      .text-danger {
        color: $darkblue-30 !important;
      }
    }

    .primary-button {
      margin-top: 25px;
      font-weight: 400 !important;
      color: $black !important;
    }
  }
}
