@import "src/styles/colors";

.sign-in-page-section {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: $darkblue-90;
  background: url("~/src/assets/images/sing-up-bg.jpg") $darkblue-90;

  .sign-in-page-container {
    display: flex;
    max-width: 500px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    margin: 0 auto;
    @media only screen and (max-device-width: 700px) {
      padding-top: 4em;
    }
    .p16 {
      margin-bottom: 15px;
    }
    p {
      color: $white !important;
    }
  }

  .sign-in-form-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;

    background-color: $auth-model-backgorund !important;
    border: none;
    color: $white;
    label {
      color: $white;
    }
    .p16 {
      text-align: center;
    }
    .p12 {
      color: $white;
    }
    .warning-text {
      color: $red-50 !important;
      margin: 0px;
      padding: 2px 0px;
    }
    .form-group {
      padding: 10px 30px;
      &--input {
        input {
          color: white !important;
          background-color: #777777 !important;
        }
      }
    }
    .sign-title {
      font-size: 25px;
      font-weight: 600;
      span {
        color: $primary-color;
      }
    }
    .field-container {
      margin-bottom: 15px;
      &--input {
        padding-bottom: 36px;

        input {
          color: white !important;
          background-color: #777777 !important;
        }
      }

      .p16 {
        text-align: center;
      }
      .p12 {
        color: $white !important;
        .warning-text {
          color: $red-50 !important;
        }
      }
    }

    .row {
      margin-bottom: 15px;
    }

    .row:last-child {
      margin-top: 45px;
      margin-bottom: 0;
    }

    .link {
      color: $white;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;

      &.link__underline {
        position: relative;
        font-weight: 700;
        margin: 0;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 2px;
          width: 100%;
          border-bottom: 0.7px solid $darkblue-70;
        }
      }
    }

    .linkedin-container {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;

      & > *:first-child {
        flex: 1;
        text-align: right;
      }

      & > *:last-child {
        flex: 1;
        text-align: left;
      }
    }

    .linkedin-icon {
      margin: 0 10px;
    }
  }
}
