@import 'src/styles/colors';

.subscription-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 70px;
	box-sizing: border-box;
	background: url('~/src/assets/images/sing-up-bg.jpg') $darkblue-90;
	background-size: cover;
	background-position-x: center;

	.form-wrapper.add-retail-company-container  {
		.form-field-wrapper {
			margin-bottom: 15px !important;
		}
	}
}
