$white: #fff;
$black: #000000;
$gray-03: #FAF9F9;
$gray-05: #F2F2F2;
$gray-90: #1A1A1A;
$gray-80: #333333;
$gray-70: #4D4D4D;
$gray-60: #666666;
$gray-50: #808080;
$gray-40: #999999;
$gray-20: #cccccc;
$gray-10: #E6E6E6;
$green-10: #D5F5DE;
$green-30: #85E09C;
$green-60: #29A347;
$green-50: #33CC59;
$grass-05: #F8FAEB;
$grass-50: #B4CB34;
$grass-40: #BED253;
$grass-30: #D2E085;
$grass-10: #F0F4D6;
$darkblue-90: #101522;
$darkblue-70: #2D3D62;
$darkblue-50: #506DAF;
$darkblue-60: #42598F;
$darkblue-40: #738ABF;
$darkblue-30: #96A7CF;
$darkblue-20: #B8C4DF;
$darkblue-10: #DBE1EF;
$darkblue-05: #EEF0F7;
$darkblue-05-dark: #77787b;
$darkblue-05-background: #BEC0C6;
$darkblue-opacity-05: rgba(238, 240, 247, 0.3);
$gray-opacity-03: rgba(230, 230, 230, 0.3);
$red-50: #D22D2D;
$orange-50: #FF9500;
$pink-50: #D92644;
$gray20: #CCCCCC;
$blue-90:  #001A33;
$blue-50: #0080FF;
$blue-10: #CCE6FF;
$blue-30: #66B3FF;
$linkedin-blue: #0A66C2;
$box-shadow-color: rgba(0, 0, 0, 0.2);
$dark-modal-color: rgba(0, 0, 0, 0.6);
$gray-90-gradient-09: rgba(26, 26, 26, .09);
$gray-90-gradient-05: rgba(26, 26, 26, .05);
$video-poster-background: #C4C4C4;
$approval-background: rgba(152, 154, 158, 1);
$modal-overlay-background: rgba(0, 0, 0, 0.2);
$close-icon-background: rgba(242, 242, 242, 0.4);
