@import 'src/styles/colors';
@import 'src/styles/extends';

.popover-container {
	@extend .bs-1;

	border-radius: 4px;

	&.popover {
		border: 1px solid $darkblue-20;
	}

	&.bs-popover-top {
		.popover-arrow::before {
			border-top-color: $darkblue-20;
		}
	}

	&.bs-popover-end {
		.popover-arrow::before {
			border-right-color: $darkblue-20;
		}
	}

	&.popover-mt {
		margin-bottom: 10px;
	}

	&.popover-ml {
		margin-left: 10px;
	}
}
