@import 'src/styles/colors';

.analysis-menu-list {
	&__item {
		padding: 10px;
		box-sizing: border-box;

		&:hover {
			cursor: pointer;
			background: $grass-50;

			.s16 {
				color: $white;
			}
		}
	}
}
