@import "src/styles/colors";

.sign-up-verification-proceed-section {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $auth-model-backgorund !important;
  border: 0 !important;
  color: $white !important;
  border-radius: 10px;
  .verify-email_title {
    font-weight: 600;
    font-size: 25px;
    white-space: nowrap;
    span {
      color: $primary-color !important;
    }
  }

  .sign-up-verification-proceed-container {
    width: 100%;

    padding: 12% 10%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    .ResendBtn {
      font-weight: 400;
      color: $black;
    }
    .description,
    .links,
    .primary-button {
      margin-top: 15px;
    }

    .description p {
      width: 100%;
      text-align: center;
    }

    .links {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .link {
        margin-left: 0;
      }
    }
  }

  .contact-as-modal {
    .modal-dialog.modal-container {
      max-width: 630px !important;
    }

    .modal-title {
      font-weight: 400;
    }

    .textarea-full-width {
      width: 100%;

      .textarea {
        width: 100%;
        max-height: 145px;
      }
    }
  }

  .success-message-as-modal {
    .modal-dialog.modal-container {
      max-width: 400px !important;
    }
  }

  .clickable {
    cursor: pointer;
  }
}
