@import "src/styles/colors";
@import "src/styles/mixins";

.sign-up-page-container .signup-company-wrapper {
  max-width: 630px;
  padding-right: 30px;
  padding-left: 30px;
  background: #353535 !important;
  & > :not(:last-child) {
    margin-bottom: 15px;
  }

  .primary-button {
    max-width: fit-content;
  }

  .mr-15 {
    margin-right: 15px;
  }

  .radio-button-container {
    margin-right: 0;
  }

  .back-btn {
    cursor: pointer;
  }
}
