.set-new-password {
	position: relative;
	width: 330px;

	.row:not(:last-child) {
		margin-bottom: 15px;
	}


	.email-form .title {
		margin-bottom: 0;
	}

	.form-wrapper {
		padding: 30px;

		.primary-button {
			margin-top: 0;
		}
	}

	.close-icon {
		position: absolute;
		top: 20px;
		right: 20px;
	}
}
