@import 'src/styles/colors';
@import 'src/styles/mixins';

.news-feed-wrapper {
	width: 100%;
	background: url('~/src/assets/images/news/bg-news.jpg') $darkblue-90;
	background-size: cover;
	background-position-x: center;

	.news-feed-container {
		@include container(1575px);
		padding-left: 75px;

		.title {
			padding-top: 50px;
			padding-bottom: 20px;
		}
	}

	.news-feed-greed {
		@include textStyle(40px, $white, 28px);
		padding: 0% 1% 0% 1%;
		padding-bottom: 130px;
		font-weight: 700;
		text-align: center;
		margin-top: 40px;
		display: grid;
		grid-template-columns:repeat(2, 1fr);
		grid-template-rows: 1fr;
		column-gap: 20px;
		@media (max-width: 1000px) {
			grid-template-columns: repeat(1, auto);
   			//  grid-template-rows: repeat(6, 170px);
			justify-content: center;
			
		}
	

		.news-item {
		    max-height: 250px;
			border-radius: 8px;
			padding: 30px;
			margin-bottom:10px ;
			transition-duration: 150ms;
			cursor: pointer;
			background: #ffffff91;
			@media(max-width:1000px){
				max-height: unset;
			}
			
			&:hover {
				transform: scale(1.02) translateY(4px);	background: $white;
			}

			img {
				width: 100%;
				max-width: 440px;
			}

			.news-feed-item-title {
				@include textStyle(20px, $darkblue-90, 24px);

				font-weight: 700;
				margin-bottom: 5px;
				padding-top: 10px;
			}
			.news-feed-item-content{
				@include textStyle(20px, $darkblue-90, 20px);
			}
			.date {
				@include textStyle(12px, $gray-50, 16px);

				padding-bottom: 15px;
			}
		}
		
	}

	.clickable {
		cursor: pointer;
	}
}
